* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #a7b7d6;
}

.content {
  width: 100vw;
  min-height: 100vh;
  padding: 1rem;
  background-color: #fff;
  overflow-y: auto;
}
.pokemon-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

@media screen and (min-width: 992px) {
  .content {
      max-width: 992px;
      height: auto;
      margin: 1rem auto;
      border-radius: 1rem;
      min-height: unset;
  }
}


